.container{
    position: absolute;
    border: solid orangered;
    border-radius: 10px;
    width: 30%;
    height: 60%;
    top: 20%;
    left: 35%;
}

.username{
    text-align: center;
    margin: 50px;
    padding: 10px;
}

.table-players{
    text-align: center;
}

.btn-game{
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #48561D;
    border-radius: 6px;
    border: 2px solid #B0CD5C;
}

.btn-view-table-players{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

#username{
    border-radius: 5px;
    width: 84%;
}

.welcome{
    margin: 8px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}