.container{
    position: absolute;
    border: solid #AE9FD1;
    border-radius: 10px;
    width: 30%;
    height: 60%;
    top: 20%;
    left: 35%;
}

.thank-you{
    color: #5114E5;
    margin: 8px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score{
    text-align: center;
    margin-top: 30%;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.btn-score{
    margin-top: 25%;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #5114E5;
    border-radius: 6px;
    border: 2px solid #AE9FD1;
}

#score{
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    width: 30%;
}